.red_nums{
	color:blue;
}

table, tr, td {
	border: 1px solid black;
	border-collapse:collapse;
	font-family: Arial, sans-serif;
	font-size: 12px;

}

h1 {
	font-family: Arial, sans-serif;
	font-size: 36px;
}

