.amounts{
	color:blue;
	font:bold 14px Arial, sans-serif ;
}

table, tr, td {
	border: 1px solid black;
	border-collapse:collapse;
	font-family: Arial, sans-serif;
	font-size: 12px;

}


a{
	font:italic 12px Arial, sans-serif;
}

td{
	padding:4px;
}

h1 {
	font-family: Arial, sans-serif;
	font-size: 36px;
}

