{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- Loading humanize app to format numbers -->
{% load humanize %} 
	<form action="." method="GET" >
		<table>
			{{ form.as_table }}

		</table>
			<input type="submit" value="Find">



	<table>
	{% for line in all_line_items %}
		<tr>
			<td>{{ line.ein }}</td>
			<td>{{ line.nonprof_name }}</td>
			<td>{{ line.category }}</td>
			<td>{{ line.fiscal_date }}</td>
			<td class="red_nums">${{ line.amount|intcomma }}</td>
		</tr>
	{% endfor %}
	</ul>

{% endblock %}